.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	height: 90%;
	// margin: 20px;
	background: rgba(0, 0, 0, 0.7); // Fondo oscuro semitransparente
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Asegura que la modal esté sobre otros elementos
}

.modal-content {
	background-color: rgba(62, 49, 49, 0.644);
	// padding: 20px;

	border-radius: 10px;
	width: 800px;
	max-width: 100%;
	text-align: center;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

	img {
		width: 350px;
		height: 150px;
		margin-bottom: 15px;
	}

	h2 {
		// margin-bottom: 10px;
	}

	p {
		// margin-bottom: 20px;
	}

	.skeleton {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
	}
	.cat {
		display: none;

		@media (min-width: 768px) {
			display: block;
			width: 80px;
			height: 82px;
		}
	}
	.message-win {
		// padding: 20px;
		margin: 0;

		@media (min-width: 768px) {
			font-size: 1.5rem;
			padding-left: 15px;
		}
	}

	.message-astra {
		margin: 0px;
		// font-size:1.2rem ;
	}
	.green {
		color: #bfff00;
	}

	.message-big {
		display: none;

		@media (min-width: 768px) {
			display: block;
		}
	}
	.message-astra-advice {
		// font-size: 0.8rem;
		// margin-bottom: 40px;
		margin: 0;
	}
	.image-movie {
    align-self: center;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		overflow: hidden;
		object-fit: cover;
		margin: 0;
	}
	.modal-buttons {
		display: flex;
		justify-content: space-around;

		button {
			margin-top: 15px;
			padding: 10px 20px;
			border: none;
			background-color: #fb3c2d;
			font-family: 'Creepster', system-ui;
			color: black;
			cursor: pointer;
			border-radius: 5px;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #ff7603;
			}
		}
	}
}
.movie-content {
	display: flex;
	flex-direction: column;

	@media (min-width: 1024px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		margin-left: 10px;
		font-size: 18px;
		flex-direction: row;
	}

	@media (max-width: 768px) {
	}
}

.movie-title {
	margin: 0;
}

.movie-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;

	@media (min-width: 768px) {
		width: 45%;
	}
}

.movie-director {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}

.movie-info {
	display: none;

	@media (min-width: 768px) {
		display: block;
	}
}
