
@import 'styles/app';
@import 'styles/dummy';
@import 'styles/footer';
@import 'styles/form';
@import 'styles/header';
@import 'styles/instructions';
@import 'styles/letters';
@import 'styles/loading';
@import 'styles/modal';

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
